@model IEnumerable<MvcCoreProceduresEF.Models.Enfermo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-primary">
    <thead>
        <tr>
            <th>
                Inscripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                Dirección
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Género
            </th>
            <th>
                Nº Seguridad Social
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Inscripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeguridadSocial)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { inscripcion = item.Inscripcion }) |
                    @Html.ActionLink("Detalles", "Details", new { inscripcion = item.Inscripcion }) |
                    @Html.ActionLink("Eliminar", "Delete", new { inscripcion = item.Inscripcion })
                </td>
            </tr>
        }
    </tbody>
</table>
